/* body{
    background-color: peru;
}
h1 {
    color:white;
} */

body {
    background-color: #ecf0f1;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out; 
    /* 깜빡이게 */
}

.clicked {
    color: #7f8c8d;
}

.btn {
    cursor: pointer;
}